### Eclipse ###
.checkstyle
.classpath
.metadata
.loadpath
.project
.settings/

### Gradle ###
**/.gradle/
**/build/

### Intellij ###
.idea/
*.iml
*.ipr
*.iws
out/
**/src/main/generated/
**/generated/
**/generated_src/

### Mac OSX + Windows ###
.DS_Store
Thumbs.db

### Node ###
/node_modules/
npm-debug.log

### SublimeText + TextMate ###
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject

### Vim ###
*.sw[op]
.tern-port

### Project Specific ###
messari-app/public/robots.txt
